

body{
    background-color: rgba(0,0,0,.85);     
    color:white;
    font-size: 16px;
}

nav{
    position: relative !important;
    background-color: rgba(0,0,0,.25);
    left: 0px !important;
    box-shadow: 0 0 5px 5px;
}

#personal-logo{
    width: auto;
}

#personal-banner{
    /* background-image: url("/img/jbcamerablur.jpg");
    background-repeat: no-repeat; */
    /* height: 950px; */
    margin: auto;
}


#whoami{
    margin: auto;
    height: 960px;
    text-align: center;
    font-family: 'PT Sans', monospace;
    font-size: 5em;
    font-weight: 900;
    color: cornsilk;
    background-image: url("/img/DSC_0200.JPG");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: -440px;
    background-position-y: -300px;
}

.responsive{
    height: auto;
    width: 100%;
}

a.nav-link:hover{
    border-color: transparent transparent #FFD700;
    border-style: solid;
    color: white;
    
}

nav ul li a{
    color:white;
}



