

body{
    background-color: rgba(0,0,0,.85);     
    color:white;
    font-size: 16px;
}

#personal-logo{
    width: auto;
}

#personal-banner{
    /* background-image: url("/img/jbcamerablur.jpg");
    background-repeat: no-repeat; */
    /* height: 950px; */
    margin: auto;
}

#whoami{
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    height: 980px;
    background-image: url("/img/jbcamerablur.jpg");
    background-repeat: no-repeat;
    
}

a.nav-link:hover{
    border-color: transparent transparent #FFD700;
    border-style: solid;
    color: white;
    
}

nav ul li a{
    color:white;
}



